/*videoquiz.jsp*/
.videoquestion{
   padding-left: 0px;
   padding-right: 0px; 
}


.wrap2{
    margin: 3% 1% 0% 1%;
}


/*videoquestion.jsp*/
.questiont thead th{
   background-color: #000080;
   font-size: 14px;
   color: white;
}

.questiont tbody tr td {
   background-color: #f1f1f1;
}


/*wrap up answer container and buttons*/
.container2{
    padding: 2%;
    text-align: center;
    align-content: center;
    margin: 0% auto;
    border-width: 5px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#3d5998), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #3d5998, rgba(0, 0, 0, 0)) 1 100%;
}

.multichoice{
    text-align: left;
    padding: 2%;
    padding-left: 10%;
    font-size: 14px;
}

.multichoice:hover{
    border-style: inset;
    font-size: 16px;
    background: linear-gradient(to right, #ffffff, rgba(200, 210, 233, 0.5));
    border: solid 1px #ffffff;
    border-radius: 15px;
    font-size: 16px;
}

.button{
    margin-top: 3%;
}

.full-width1{
    padding-right: 0px;
}

.full-width2{
    padding-left: 0px;
}

.givecheckbutton{
    border-radius: 0px;
    width: 100%;
    padding: 5% 0;
}

.answer{
    color: #228B22;
}

.showanswer{
   padding-top: 2%; 
}

.glyphicon-star{
    font-size: 40px;
}

.yellow, hr.correct{
    color: #FFCA28;
}

hr.correct, hr.normal{
    border-top: 4px double;
    width: 80%;
}

.answercontainer{
    border-style: double;
    margin: 3%;
    padding: 1%;
    font-size: 18px;
}

.tab1{
    padding-left: 10%;
}

input{
    color: #000;  
}
