/*videoquiz.jsp*/
.parallax {
    background-image: url('../../resources/img/parallexbg1.jpg');
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;   
   
}

.parallax img{
    padding-left: 15%;
}

.catnote{
    text-align: left;
    padding: 3%;
    background-color: #FDEFE6;
    color: #000;
}

.catnote ul{
    list-style-type: circle;
}
  
.catpawn{
    margin-left:80%;
}

.catpawn img{
    margin-top: -20%;
    width:80%; 
    height:80%; 
}
  
.container{
    padding: 1%;
}


.interwrap{
  background: #3bafda; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #3bafda , #D9D9D8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #3bafda, #D9D9D8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #3bafda, #CBCCC7); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #3bafda , #D9D9D8); /* Standard syntax */
  color: #000;
  
}

.videoquestion{
   padding: 0;
   background-color: #fff;
}


.link{
   margin-left: 1%;
   margin-right: -1%;
} 

.link a{
   width: 100%;
   margin: 2% 1% 2% 1%;
}

.wrap2{
    padding: 3%;
}

.videodesc{
    min-height: 80px;
}


/*videoquestion.jsp*/
.questiont thead th, .lol{
   background-color: #000080;
   font-size: 14px;
   color: white;
}

.questiont tbody tr td {
   background-color: #f1f1f1;
}

.questiont tbody tr  {

}

video.videoque{  
    width: 100%;
}

/*Pagination*/
.pg-normal {
    color: #1e90ff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
}
 
.pg-normal:hover:not(.active) {
    background-color: #ddd;
}

.pg-selected {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
}

/*wrap up for question*/
.questioncontainer{
    background-color: #3d5998;
    border: solid #3d5998;
    color: #fff;
    padding: 2%;
}

/*wrap up answer container and buttons*/
.container2{
    padding: 2%;
    border-width: 5px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#3d5998), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #3d5998, rgba(0, 0, 0, 0)) 1 100%;
}

.type{
    color: #1E88E5;
    margin-top: -3%;
}

.type:hover{
    color: #FFF;
}

.nonote{
    height: 60vh;
    display:table;
}

.nonote center{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.multichoice{
    text-align: left;
    padding: 2%;
    padding-left: 10%;
    font-size: 14px;
}

.multichoice:hover{
    border-style: inset;
    font-size: 16px;
    background: linear-gradient(to right, #ffffff, rgba(200, 210, 233, 0.5));
    border: solid 1px #ffffff;
    border-radius: 15px;
    font-size: 16px;
}

.button{
    margin-top: 3%;
}

.full-width1{
    padding-right: 0px;
}

.full-width2{
    padding-left: 0px;
}

.givecheckbutton{
    border-radius: 0px;
    width: 100%;
    padding: 5% 0;
}

.answer{
    color: #228B22;
}

.showanswer{
   padding-top: 2%; 
}

.glyphicon-star{
    font-size: 40px;
}

.glyphicon-star:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 0.7s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

hr.correct, hr.normal{
    border-top: 4px double;
    width: 80%;
}

.normal{
    color: #fff;
}
.answercontainer{
    border-style: double;
    margin: 3%;
    padding: 1%;
    font-size: 18px;
    width: 95%;
}

.tab{
    padding-left: 10%;
}

input{
    color: #000;  
}

.useranswer{
    margin-bottom: 5%;
}

/*not working with IE browser*/
/*animation for font*/
.btnbonus{
    font-family: futura;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    -webkit-animation: colorchange 10s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% { color: #39f; }
    15% { color: #8bc5d1; }
    30% {  color: #f8cb4a; } 
    45% { color: #95b850; } 
    60% { color: #944893; }
    75% { color: #c71f00; }
    90% { color: #bdb280; }
    100% { color: #39f; }
}

/*button animation*/
.buttonlayout { 
    text-align: center;
    padding: 8px 26px; 
    display: inline-block;  
    border-radius: 6px; 
    border: solid rgba(0,0,0,0.2); 
    border-width: 1px 1px 5px; 
    box-shadow: 0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3); 
    cursor: pointer; 
    transition: 0.4s ease; 
}

.buttonlayout:hover { 
    transform: translateY(-3px); 
    box-shadow: 0 6px 0 rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.4); 
    border-bottom-width: 8px; 
}

.buttonlayout:active { 
    transform:translateY(4px); 
    box-shadow:0 2px 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(255,255,255,0.4); 
    border-bottom-width:2px; 
    transition:0.1s ease; 
}

.redbtn { 
    background: hsl(8,59%,59%); 
    color: #fff; 
    text-shadow: -1px -1px 1px rgba(0,0,0,0.1); 
}
.orangebtn { 
    background: hsl(41,76%,65%); 
}
.yellowbtn { 
    background: hsl(50,81%,65%); 
    color: #000; 
}
.greenbtn { 
    background: hsl(104,51%,62%); 
}
.bluebtn { 
    background: hsl(176,59%,59%); 
    color: #fff; 
}

.chestbtn{
    margin-left: 3%;
    border: none;
    float: left;
    padding: 1px 1px;
}

.chestbtnm{
    border: none;
    padding: 1px 1px;
}

.chestreward{
    width: 50%;
    display: inline-block;
}

div.congrats {
 font-weight:bold;
 color:#4794D3;
 margin:10px auto;

 -webkit-animation: zoom-in-out 2s linear 0s infinite normal ;
 animation: zoom-in-out 2s linear 0s infinite normal ;
}

@-webkit-keyframes zoom-in-out {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}


/*modal for checking accumulate score*/
.estrellas {
    transform: rotate(-103deg);
    margin-top: 50%;
    margin-right: 85%;
}

.estrellas span {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 260px;
    text-align: center;
    line-height: 70px;
    transform-origin: bottom center;
}

.estrellas span:nth-of-type(1)  {
  transform: rotate(25deg);
}
.estrellas span:nth-of-type(2)  {
  transform: rotate(51deg);
}
.estrellas span:nth-of-type(3)  {
  transform: rotate(78deg);
}
.estrellas span:nth-of-type(4)  {
  transform: rotate(103deg);
}
.estrellas span:nth-of-type(5)  {
  transform: rotate(129deg);
}
.estrellas span:nth-of-type(6)  {
  transform: rotate(154deg);
}
.estrellas span:nth-of-type(7)  {
  transform: rotate(180deg);
}

.ascore{
    margin-top: -15%;
}

.modalbg{
  background: #4CA1AF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #4CA1AF , #C4E0E5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #C4E0E5, #4CA1AF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #C4E0E5, #4CA1AF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #2c3e50, #3498db); /* Standard syntax */
  color: #fff;
  padding: 1%;
}

.announ{
    padding: 2%;
}