/*videoquiz.jsp*/
.parallax {
    background-image: url('../../resources/img/parallexbg1.jpg');
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;   
   
}

.parallax img{
    padding-left: 15%;
}

.catnote{
    text-align: left;
    padding: 3%;
    background-color: #FDEFE6;
    color: #000;
}

.catnote ul{
    list-style-type: circle;
}
  
.catpawn{
    margin-left:80%;
}

.catpawn img{
    margin-top: -20%;
    width:80%; 
    height:80%; 
}
  
.container{
    padding: 2%;
}

.vwrap{
    margin: 0 1% 0% 1%;
}

.wrap{
    margin: 1%;
}

.videoquestion{
   padding-left: 0px;
   padding-right: 0px; 
}


.link{
   margin-left: 1%;
   margin-right: -1%;
} 

.link a{
   width: 100%;
   margin: 1%;
}

.wrap2{
    margin: 3% 1% 0% 1%;
}

.videodesc{
    min-height: 80px;
}


/*videoquestion.jsp*/
.questiont thead th, .lol{
   background-color: #000080;
   font-size: 14px;
   color: white;
}

.questiont tbody tr td {
   background-color: #f1f1f1;
}

.questiont tbody tr  {
   height: 413px;
}

video.videoque{  
    width: 100%;
    height: 450px;
}

/*Pagination*/
.pg-normal {
    color: #1e90ff;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
}
 
.pg-normal:hover:not(.active) {
    background-color: #ddd;
}

.pg-selected {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 16px;
}

/*wrap up for question*/
.questioncontainer{
    background-color: #3d5998;
    border: solid #3d5998;
    color: #fff;
    padding: 2%;
}

/*wrap up answer container and buttons*/
.container2{
    padding: 2%;
    border-width: 5px;
    border-style: solid;
    -webkit-border-image: 
      -webkit-gradient(linear, 0 0, 0 100%, from(#3d5998), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image: 
      -webkit-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;    
    -o-border-image:
      -o-linear-gradient(#3d5998, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, #3d5998, rgba(0, 0, 0, 0)) 1 100%;
}

.type{
    color: #1E88E5;
    margin-top: -3%;
}

.type:hover{
    color: #FFF;
}

.nonote{
    height: 60vh;
    display:table;
}

.nonote center{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.multichoice{
    text-align: left;
    padding: 2%;
    padding-left: 10%;
    font-size: 14px;
}

.multichoice:hover{
    border-style: inset;
    font-size: 16px;
    background: linear-gradient(to right, #ffffff, rgba(200, 210, 233, 0.5));
    border: solid 1px #ffffff;
    border-radius: 15px;
    font-size: 16px;
}

.button{
    margin-top: 3%;
}

.full-width1{
    padding-right: 0px;
}

.full-width2{
    padding-left: 0px;
}

.givecheckbutton{
    border-radius: 0px;
    width: 100%;
    padding: 5% 0;
}

.answer{
    color: #228B22;
}

.showanswer{
   padding-top: 2%; 
}

.glyphicon-star{
    font-size: 40px;
}

.glyphicon-star:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 0.7s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.countdown3{
    color: green;
    font-family: Comic Sans MS;
    font-weight: bold;
    -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  @keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
}

.countdown2{
    color: orange;
    font-family: Comic Sans MS;
    font-weight: bold;
    -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes flip {
  0% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  40% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  50% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  80% {
  -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  100% {
  -webkit-transform: perspective(400px);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  }
  @keyframes flip {
  0% {
  -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  40% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  }
  50% {
  -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  80% {
  -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
  transform: perspective(400px) scale3d(.95, .95, .95);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  }
}

.countdown1{
    color: red;
    font-family: Comic Sans MS;
    font-weight: bold;
    -webkit-animation-name: tada;
  animation-name: tada;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  }
  @keyframes tada {
  0% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
  10%, 20% {
  -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
  -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  }
}

hr.correct, hr.normal{
    border-top: 4px double;
    width: 80%;
}

.answercontainer{
    border-style: double;
    margin: 3%;
    padding: 1%;
    font-size: 18px;
    width: 95%;
}

.tab{
    padding-left: 10%;
}

input{
    color: #000;  
}

.useranswer{
    margin-bottom: 5%;
}

/*not working with IE browser*/
/*animation for font*/
.btnbonus{
    font-family: futura;
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    -webkit-animation: colorchange 10s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% { color: #39f; }
    15% { color: #8bc5d1; }
    30% {  color: #f8cb4a; } 
    45% { color: #95b850; } 
    60% { color: #944893; }
    75% { color: #c71f00; }
    90% { color: #bdb280; }
    100% { color: #39f; }
}

/*button animation*/
button.btn-1, button.btn-2 {
    transition: all 0.3s;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    margin: 1% 0;
    position: relative;
}

button.btn-1 span,button.btn-2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
}

.icon-backward span:after {
    content: '\2190';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.3s;
}

.icon-forward span:after {
    content: '\2192';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
}

.icon-down span:after {
    content: '\2193';
    position: absolute;
    opacity: 0;
    top: 0;
    bottom: -20px;
    transition: 0.3s;
}

.icon-up span:after {
    content: '\2191';
    position: absolute;
    opacity: 0;
    top: 0px;
    bottom: -20px;
    transition: 0.3s;
}

button.btn-1.icon-backward:hover span {
    padding-left: 30px;
}

button.btn-1.icon-forward:hover span, button.btn-2.icon-down:hover span, button.btn-2.icon-up:hover span {
    padding-right: 30px;
}

button.btn-1.icon-backward:hover span:after{
    opacity: 1;
    left: 0;
}

button.btn-1.icon-forward:hover span:after, button.btn-2.icon-down:hover span:after, button.btn-2.icon-up:hover span:after{
    opacity: 1;
    right: 0;
}

#buttonlayout { 
    text-align: center;
    font-size:1.1em; 
    padding:8px 26px; 
    display:inline-block; 
    margin:5px; 
    border-radius:6px; 
    border:solid rgba(0,0,0,0.2); 
    border-width:1px 1px 5px; 
    box-shadow:0 5px 0 rgba(0,0,0,0.1), inset 0 0 3px rgba(255,255,255,0.3); 
    cursor:pointer; 
    transition:0.4s ease; 
}

#buttonlayout:hover { 
    transform:translateY(-3px); 
    box-shadow:0 6px 0 rgba(0,0,0,0.1), inset 0 0 1px rgba(255,255,255,0.4); 
    border-bottom-width:8px; 
}

#buttonlayout:active { 
    transform:translateY(4px); 
    box-shadow:0 2px 0 rgba(0,0,0,0.1), inset 0 0 5px rgba(255,255,255,0.4); 
    border-bottom-width:2px; 
    transition:0.1s ease; 
}

.redbtn { 
    background:hsl(8,59%,59%); 
    color:rgba(255,255,255,0.95); 
    text-shadow:-1px -1px 1px rgba(0,0,0,0.1); 
}
.orangebtn { 
    background:hsl(41,76%,65%); 
}
.yellowbtn { 
    background:hsl(50,81%,65%); 
}
.greenbtn { 
    background:hsl(104,51%,62%); 
}
.bluebtn { 
    background:hsl(176,59%,59%); 
}

.chestbtn{
    border: none;
    float: left;
    padding: 1px 1px;
}

.chestbtnm{
    border: none;
    padding: 1px 1px;
}

.chestreward{
    width: 50%;
    display: inline-block;
}

div.congrats {
 font-weight:bold;
 color:#4794D3;
 margin:10px auto;

 -webkit-animation: zoom-in-out 2s linear 0s infinite normal ;
 animation: zoom-in-out 2s linear 0s infinite normal ;
}

@-webkit-keyframes zoom-in-out {
  0%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-webkit-transform: scale(1);
	transform: scale(1);
  }
}

@keyframes zoom-in-out {
  0%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
  50%{
	-ms-transform: scale(1.2);
	transform: scale(1.2);
  }
  100%{
	-ms-transform: scale(1);
	transform: scale(1);
  }
}