body{
    background: url('../../resources/img/bg.jpg') repeat;

}

.yellow, hr.correct{
    color: #FFCA28;
}

.title{
    letter-spacing: 1px;
    word-spacing: 0.8px;
    font-size: 20px;
    font-style: italic;
    color: #fff;
    padding-left: 15%;
}

.right{
    margin-left: 90%;
}

ul{
   list-style-type: none; 
}

.contentborder{
    border: solid 1px #f1f1f1;
    background-color: #fff;
   
}

.contentborder img{
    width: 100%
}

.pagi{
    margin-top: 3%;
    background-color: #f1f1f1;
    padding: 1%;
}

/*index.html*/
.landing{
    opacity: 0.9;
    height: 768px;
    background: url('../../resources/img/lan.jpg'); /*This image is edited*/
    background-size: cover;
}

.loginwrap{
    margin-top: 25%;
}

.login, .btnlog, .signup{
    padding: 4%;
    margin: 2%;
    width:65%;
}

.signupa{
    color: #3d5998;
    font-size:12px;
}


/*mquiz.jsp*/
.mques table{
   text-align: center;
   font-size: 20px;
}

.mques table th{
   text-align: center;
}

.playmque {
    background: transparent;
    border:none;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
}

.playmque span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.playmque span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.playmque:hover span {
    padding-right: 25px;
}

.playmque:hover span:after {
    opacity: 1;
    right: 0;
}


/*video.jsp*/
/*navigation*/
.navbar{
    background-color: #175fb4;
    padding: 2%;
}

.navbar-header{
    padding-left: 5%;
}

.navbar, .nav.navbar-nav.navbar-right li a{
    color: #fff;
    font: 15px serif;
}

.nav.navbar-nav.navbar-right li a:hover {
    font-size: 20px;
}

.navbar-header .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle:hover .icon-bar {
    border: 1px solid #FFFF00;
}

.subject {
    margin-top: -2%;
    background-color: #3d5998;
    text-align: center;
}

.subject a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #FFCA28;
}

.border{
    border-left: #fff double;
    margin-top: -1%;
}

video.videopg{  
    width: 100%;
    height: 240px;
}

#divBio{
    display: none;
}

#divSci{
    display: none;
}

.videowrap{
    border: 1px solid rgba(53, 134, 227, 0.5);
    padding: 1%;
    margin: 2% 0;
    font-size: 15px;
}

.videowrap p{
    margin-top: 5%;
}

.quizplay{
    margin-top: 18%;
    text-align: right;
}

.btnplay{
    background-color: rgba(53, 134, 227, 0.3);
    color: #000000;
}

/*footer*/
.footer{
    background-color: #f1f1f1;
    font-size: 12px;
    padding: 2%;
    margin: 2% 0;
}

.top{
    font-size: 15px;
}





.breadcrumb-arrow {
    padding: 0;
    background-color: #e6e9ed;
    width: 100%;
}
.breadcrumb-arrow li:first-child a {
    border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
}
.breadcrumb-arrow li, .breadcrumb-arrow li a, .breadcrumb-arrow li span {
    display: inline-block;
}
.breadcrumb-arrow li:not(:first-child) {
    margin-left: -5px;
}
.breadcrumb-arrow li+li:before {
    padding: 0;
    content: "";
}
.breadcrumb-arrow li span {
    padding: 0 10px;
}
.breadcrumb-arrow li a, .breadcrumb-arrow li:not(:first-child) span {
    height: 36px;
    padding: 0 10px 0 25px;
    line-height: 36px;
}
.breadcrumb-arrow li:first-child a {
    padding: 0 10px;
}
.breadcrumb-arrow li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #3bafda;
    border: 1px solid #3bafda;
}
.breadcrumb-arrow li:first-child a {
    padding-left: 10px;
}
.breadcrumb-arrow li a:after, .breadcrumb-arrow li a:before {
    position: absolute;
    top: -1px;
    width: 0;
    height: 0;
    content: '';
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
}
.breadcrumb-arrow li a:before {
    right: -10px;
    z-index: 3;
    border-left-color: #3bafda;
    border-left-style: solid;
    border-left-width: 11px;
}
.breadcrumb-arrow li a:after {
    right: -11px;
    z-index: 2;
    border-left: 11px solid #fff;
}






.navvideo {
    background-color: #3d5998;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.navvideo ul, .videoquizmenu ul{
    list-style: none;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    font-size: 18px;
}

.navvideo li, .videoquizmenu li{
    margin: 1% 2%;
    float: left;
    display: inline-block;
    margin-right: -4px;
    border-left: #fff double;
    width: 30%;
}

.navvideo li:last-child, .videoquizmenu li:last-child{
    border-right: #fff double;
}
 
.navvideo a, .videoquizmenu a{
  text-decoration: none;
  color: #fff;
  display: block;

}
 
.navvideo a:hover, .videoquizmenu a:hover {
    font-size: 20px;
}

.videoquizmenu{
    background-image: url('../../resources/img/parallexbg1.jpg') ;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.announcemenu {
    margin-top: -2%;
}

.glyphicon-star{
    font-size: 40px;
}

.glyphicon-star:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 0.7s infinite;
}



/*modal for checking accumulate score*/
.estrellas {
    transform: rotate(-103deg);
    margin-top: 50%;
    margin-right: 85%;
}

.estrellas span {
    position: absolute;
    bottom: 0;
    left: 0%;
    height: 260px;
    text-align: center;
    line-height: 70px;
    transform-origin: bottom center;
}

.estrellas span:nth-of-type(1)  {
  transform: rotate(25deg);
}
.estrellas span:nth-of-type(2)  {
  transform: rotate(51deg);
}
.estrellas span:nth-of-type(3)  {
  transform: rotate(78deg);
}
.estrellas span:nth-of-type(4)  {
  transform: rotate(103deg);
}
.estrellas span:nth-of-type(5)  {
  transform: rotate(129deg);
}
.estrellas span:nth-of-type(6)  {
  transform: rotate(154deg);
}
.estrellas span:nth-of-type(7)  {
  transform: rotate(180deg);
}

.ascore{
    margin-top: -15%;
}

.modalbg{
  background: #4CA1AF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #4CA1AF , #C4E0E5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #C4E0E5, #4CA1AF); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #C4E0E5, #4CA1AF); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, #2c3e50, #3498db); /* Standard syntax */
  color: #fff;
  padding: 1%;
}